@font-face {
    font-family: "CircularProBook";
    src: url(CircularPro-Book.otf);
  }
  
  /* headlines font */
  @font-face {
    font-family: "CircularProBlack";
    src: url(CircularPro-Black.otf);
  }
  
  /* headlines regular +bold */
  @font-face {
    font-family: "CircularProBold";
    src: url(CircularPro-Bold.otf);
  }
  
  /* headlines regular +semi-bold */
  @font-face {
    font-family: "CircularProMedium";
    src: url(CircularPro-Medium.otf);
  }

body {
    font-family: $myFont;
}



@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

body {
  font-weight: 400;
  color: $fontColor
}

h1 {
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 1.2em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

h3 {
  font-weight: 600;
  font-size:1em;
}

p {
  margin-bottom: 1.2em;
}

li {
  line-height: 1.6em;
}

a {
  &:hover {
    color: $secondaryColor;
  }
}
.fixedHeaderContainer {
  background-color: $secondaryColor;
  min-height: 56px;
  padding: 10px;
  & header {
    background-color: $secondaryColor;
  }
}

.headerTitleWithLogo {
  color: #ffffff;
  margin-left: 10px;
}

.onPageNav a {
  font-size: 0.9em;
  color: $onPageNavFont;
}

.onPageNav .active {
  color: $primaryColor;
}


